@charset "UTF-8";

/*Folha de Estilo - TELA HORIZONTAL*/

body{
    background: url(../imagens/cev-landscape.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}